
<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="https://www.thymeleaf.org"
>

    <!-- header -->
    <header id="header" th:fragment="header"
        h-active="false" onmouseover="document.querySelector('#header').attributes['h-active'].value = true;" onmouseleave="document.querySelector('#header').attributes['h-active'].value = false;"
    >
        <div>
            <div id="header-title">
                <h1 th:text="${site.title}"></h1>
                <div id="header-title-subtitle" th:text="${site.subtitle}"></div>
            </div>
        </div>
        <nav th:with="navMenu = ${menuFinder.getPrimary()}">
            <th:block th:each="navMenuItem : ${navMenu.menuItems}">
            <a
                th:href="@{${navMenuItem.status.href}}"
                th:text="${navMenuItem.status.displayName}"
                th:target="${navMenuItem.spec.target?.value}"
            />
            </th:block>
        </nav>  
    </header>
    <!-- end header -->

    <!-- cover -->
    <section id="cover" th:fragment="cover"
        th:h-type="${type} ?: 'default'"
    >
        <div id="cover-desc">
            <div>
            <p>
                <span style="font-size:2rem" th:text="${title} ?: '你所想到的，都不可能会发生。'"></span><br>
                <small th:text="${desc} ?: 'What you could\'ve think; it won\'t happen.'"></small>
            </p>
            </div>
        </div>
    </section>
    <!-- end cover -->

    <!-- footer -->
    <footer th:fragment="footer">
            <halo:footer />
        <div>
            <span th:text="${site.title} + '. Theme ' + ${theme.spec.displayName}" />
        </div>
    </footer>
    <!-- end footer -->

</html>